@font-face {
  font-family: 'Terminus';
  src: url('fonts/WebPlus_IBM_VGA_9x16.woff') format('woff'); /* Use woff2 for web */
}

#boot_log {
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    max-height: 400px;
    overflow-y: hidden;
    font-family: 'Terminus', monospace;
    font-size: 14px; /* Best at specific, usually small, integer sizes */
  
    /* Critical for crisp pixels */
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
  
    /* Preserve spaces and line breaks like a terminal */
    white-space: pre; 
    line-height: 1.2;

}

body {
  background-color: #000000;
}
